<link rel="import" href="../polymer/polymer-element.html">
<!-- First comment -->
<dom-module id="fotosocial-user-register-dm">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
  </template>

  <script>
    /**
     * `fotosocial-user-register-dm`
     * Data manager para registrar nuevos usuarios
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FotosocialUserRegisterDm extends Polymer.Element {
      static get is() { return 'fotosocial-user-register-dm'; }
      static get properties() {
        return {
          user: {
            type: Object,
            value: {}
          }
        };
      }

      checkIfUserExists(userLoggin) { 
        const users = JSON.parse( localStorage.getItem('fotosocial') ).users;
        const userFilter = users.filter( user => userLoggin.user === user.user && user.password === userLoggin.password);
        return userFilter.length > 0;
      }

      saveUserLocalStore() {
        let fotosocial = JSON.parse(localStorage.getItem('fotosocial'));
        if (localStorage.getItem('fotosocial')) {
          fotosocial.users.push(this.user);
          localStorage.setItem('fotosocial', JSON.stringify(fotosocial))
        } else {
          const newfotosocial = {
            users: [this.user]
          }
          localStorage.setItem('fotosocial', JSON.stringify(newfotosocial)); 
        }
      }
    }

    window.customElements.define(FotosocialUserRegisterDm.is, FotosocialUserRegisterDm);
  </script>
</dom-module>